/* sliderStyles.css */
.custom-arrow {
  width: 40px;
  height: 40px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.7s, color 0.7s;
}

.next-arrow {
  right: -35px;
  position: absolute;
  top: 50%;
  border: 1px solid #979595;
  transform: translateY(-50%);
}
.next-arrow:hover {
  background: #333333;
  color: #ffffff;
}
.prev-arrow {
  left: -35px;
  position: absolute;
  top: 50%;
  border: 1px solid #979595;
  transform: translateY(-50%);
}
.prev-arrow:hover {
  background: #333333;
  color: #ffffff;
}
