/* sliderStyles.css */
.custom-arrow {
  width: 40px;
  height: 40px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: -50px;
}
.next-arrow {
  left: 50%;
  transform: translateX(20px);
  border: 1px solid #979595;
}

.prev-arrow {
  left: 50%;
  transform: translateX(-50px);
  border: 1px solid #979595;
}
.next-arrow:hover {
  background: #333333;
  color: #ffffff;
}

.prev-arrow:hover {
  background: #333333;
  color: #ffffff;
}
